@use '../../variables';

.wish_list {
  background-color: variables.$glob_white;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid variables.$glob_gray;
  border-color: variables.$glob_gray;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 15px;
  font-size: 20px;
  color: variables.$glob_black;
  z-index: 1;
  &:hover {
    border-color: variables.$glob_black;
  }
  &_icon {
    height: 22px;
    width: auto;
    margin: 0 5px;
    fill: variables.$glob_gray;
    &:hover {
      cursor: pointer;
      fill: variables.$glob_black;
    }
  }
  &_num {
    height: 22px;
    width: auto;
    flex-grow: 1;
  }
  &_wrap {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
