@use '../../variables';

.results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  @media (max-width: 1048px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  @media (max-width: 836.4px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  @media (max-width: 644.8px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  @media (max-width: 453.2px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }
}

.results_half {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  @media (max-width: 1440px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  @media (max-width: 936.4px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  @media (max-width: 453.2px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }
}

.pokemon {
  position: relative;
  border: 1px solid variables.$glob_black;
  width: 180px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  font: variables.$glob_font;
  cursor: pointer;
  &_title {
    width: 100%;
    height: 10%;
    text-align: center;
    margin: 0;
    border-bottom: 0.5px solid variables.$glob_grey;
  }
  &_img {
    align-self: center;
    height: 75%;
  }
  &_info {
    height: 25%;
    border-top: 0.5px solid variables.$glob_grey;
    width: 100%;
  }
  &_subtitle {
    font-weight: bold;
  }
  &_icon {
    height: 25px;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    fill: variables.$glob_black;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      fill: white;
    }
    &.selected {
      fill: variables.$glob_red;
      height: 30px;
      &:hover {
        fill: variables.$glob_white !important;
      }
    }
  }
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_btn {
    background-color: transparent;
    border: 1px solid variables.$glob_grey;
    border-color: variables.$glob_grey;
    border-radius: 10px;
    margin: 25px;
    padding: 5px 15px;
    outline: none;
    font-size: 20px;
    &:hover {
      cursor: pointer;
      border-color: variables.$glob_black;
    }
  }
}
