@use '../../variables';
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  svg {
    width: 20px;
    height: auto;
    margin: 0 5px;
  }
  &_img {
    width: 400px;
    height: auto;
  }
  &_wrap {
    width: 50%;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  &_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    h1,
    p {
      margin: 5px 0;
    }
  }
  &_gh {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    text-decoration: underline;
  }
  &_text {
    text-align: start;
  }
  &_back {
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: transparent;
    border: 1px solid variables.$glob_grey;
    border-color: variables.$glob_grey;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px 15px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      border-color: variables.$glob_black;
    }
    &.back {
      border-color: variables.$glob_light;
      &:hover {
        border-color: variables.$glob_white;
      }
    }
  }
}
.dark {
  path {
    stroke: variables.$glob_white;
  }
}
