@use '../../variables';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &_gitHub,
  &_RSSchool {
    width: 20px;
    height: auto;
    margin: 0 5px;
  }
  &_gitHub {
    path {
      stroke: variables.$glob_black;
    }
    &.dark {
      path {
        stroke: variables.$glob_white;
      }
    }
  }
  &_RSSchool {
    g {
      circle {
        fill: variables.$glob_black;
      }
      path {
        stroke: variables.$glob_yellow;
      }
    }
    &.dark {
      g {
        circle {
          fill: variables.$glob_white;
        }
        path {
          stroke: variables.$glob_black;
          fill: variables.$glob_black;
        }
      }
    }
  }
  &_text,
  &_link {
    font: variables.$glob_font;
  }
}
