@use '../../variables';
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid variables.$glob_primary_color;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    margin: 25px 0;
  }

  &_icon {
    height: 100%;
    width: 20px;
    margin-left: 10px;
    transition: all 0.3s;
    path {
      stroke: variables.$glob_primary_color;
    }
    &:hover {
      path {
        stroke: variables.$glob_black;
      }
    }
    cursor: pointer;
    &.dark {
      path {
        stroke: variables.$glob_light;
      }
      &:hover {
        path {
          stroke: variables.$glob_white;
        }
      }
    }
  }
}
.input {
  flex-grow: 1;
  border-color: transparent;
  outline: none;
  height: 100%;
  background-color: transparent;
  width: 30vw;
  transition: all 0.3s;
  &:hover,
  &:not(:placeholder-shown),
  &:focus {
    width: 45vw;
  }
}

.clear_cache {
  position: absolute;
  right: 0;
  top: 27.6px;
  background-color: transparent;
  border: 1px solid variables.$glob_grey;
  border-color: variables.$glob_grey;
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px 15px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    border-color: variables.$glob_black;
  }
  @media (max-width: 800px) {
    position: static;
    align-self: flex-end;
    margin-bottom: 25px;
  }
}
