@use './variables';

html {
  @include variables.theme;
}

body {
  min-height: calc(100vh);
  height: 100%;
  max-width: 1440px;
  width: calc(100% - 50px);
  margin: 20px 25px;
  position: relative;
  margin: auto;
}

.dark {
  @include variables.theme(
    $theme_bg: variables.$glob_dark,
    $theme_color: variables.$glob_white
  );
  a,
  button,
  div,
  h1 {
    color: variables.$glob_white;
    border-color: variables.$glob_light;
  }
  input {
    color: variables.$glob_white;
  }
  .opacity {
    border-color: variables.$glob_white !important;
  }
  button:hover {
    border-color: variables.$glob_white;
  }
}

a {
  text-decoration: none;
  color: variables.$glob_black;
}

main {
  width: 100%;
  padding-bottom: 60px;
}

.opacity {
  opacity: 0.1;
  cursor: default !important;
  border-color: variables.$glob_grey !important;
}
